/*#region From Sprint 2*/
.table td, .table th {
    background-color: transparent !important;
    padding: 0;
    /*^ Remove padding from table cells to allow user to zoomin more if needed*/
}
* {
    border-width: 0.1rem !important;
    /*^ "!important" overwite bootstrap class "input-group-text"*/
    font-size: 1.25rem !important;
    /*^ "!important" overwrites bootstrap classes (such as "input-group-text") which are not possible to overwite without */
}
.zoom-out {
    transform: scale(0.8);
    /*^ sooms out by 20% but text is still bigger for readability purposes*/
}
img {
    width: 100%;
    /*^ match its div container*/
    height: auto;
}
.display-box {
    display: inline-block;
    /*^ match width to image's*/
}
/*#endregion*/
/*#region From Sprint 3*/
.middle{
    display: flex;
    /*^ uses flexbox to allow realignment */
    justify-content: center;
    /*^ centers content to the middle horizontally */
    text-align: center;
    /*^ allows contents inside to be centured - usually effective when it is a div or table*/
    margin-top: 8rem;
    /*^ allows space between it and elements above it vertically*/
}
.mascot{
    /** using viewport fix instead of flexbox because "flex-end" does not appear to work*/
    position: fixed;
    bottom: -50px;
    /*^ Is in negative because the SVG itself has empty space arounf the actual mascot*/
    right: 0;
    height: auto;
    width: 10rem;
}
.square{
    aspect-ratio: 1/1 !important;
}
/*#endregion*/