:root {
    --text-color: #000;
    --background-color: #FFB;
    --secondary-color: #0AF;
    --primary-color: #0F0;
}

[data-theme="dark"] {
    --text-color: #FFF;
    --background-color: #886;
    --secondary-color: #058;
    --primary-color: #080;
}

* {
    color: var(--text-color)!important;
}

body {
    background-color: var(--background-color)
}

span {
    background-color: var(--background-color) !important;
    border-color: var(--secondary-color) !important;
}

.btn {
    background-color: var(--secondary-color);
    border-color: var(--primary-color);
}

.btn:hover {
    background-color: var(--primary-color);
    border-color: var(--secondary-color);
}

input {
    background-color: var(--primary-color) !important;
    border-color: var(--secondary-color) !important;
}

.table td, .table th {
    padding: 0;
    border-color: var(--primary-color);
}
